.container{
    margin-top: 70px;
 border-radius: 6px;
 width: 90%;
 padding: 45px;
}
  
label{
    color: red;
    font-size: 30px;
}
.table{
    height: 50px;
    width: 99%;
    text-align: center;
    margin-top: 40px;
}
th{
    border: solid; 
}
td{
    border: solid; 
    
}
